<%
def classroom_id
    params[:classroom_id] || params[:id]
end
%>

<div class ='container' id = 'main-container'>
  <%= render "/partials/left_branch" %>
  <div class = 'main-wall'>
    <div class = 'row'>
      <div class = 'col-xs-12'>
        <div class = 'title-background border-radius-top'>
          <div class = 'title-page'>
            Полезные материалы
          </div>
        </div>

        <%= render @materials %>

      </div>
    </div>
  </div>
    <%= render "/partials/modal_share" %>
    <%= render "/materials/modal_window" %>
    <%= render "/partials/view_material" %>
</div>

