<div class="description-hdiw description-hdiw-mike-speach">
  Знакомьтесь, это Михал Палыч. Веселее, дружелюбнее и щедрее летчика мы еще не видели! Он будет с вами делиться историями, ссылками, музыкой и даже видеороликами.
</div>
<div class = 'dark-background-for-how-does-it-work'>
  <div class='panel-actions-how-does-it-work'>
    <button type="button" class="btn btn-default btn-st-inert close-how-does-it-work">Закрыть</button>
    <button type="button" class="btn btn-primary btn-st next-episode-how-does-it-work" data-episode="publications">Далее</button>
    <button type="button" class="btn btn-primary btn-st its-all-hdiw">Вот и все</button>
  </div>
</div>
<div class ='container' id = 'main-container'>
    <div class = 'left-branch'>
        <%= render "/partials/profile" %>
        <%= render "/feed/recommended_users" %>
        <%= render "/feed/popular_now" %>
        <%= render "/partials/administration_data" %>
    </div>
    <div class = 'main-wall'>

      <div class = 'wrap-mike'>
        <div class = 'mike-speach'>

        </div>
      </div>

      <%= render 'feed/recommend' %>
      <div class = 'row' style = 'margin-top: 80px; z-index: 150;'>
        <div class = 'col-xs-12'>
          <div class = 'title-background border-radius-top'>
            <div class = 'title-page'>
             Публикации
            </div>
          </div>
          <%= react_component("PostBox",
        posts_url: posts_path, show_panel: (current_user.present?) ) %>
        </div>
      </div>
    </div>
</div>

