<div class="title-container">
  <div class="headline">
    <h1 class = 'logo'>Studpad</h1>
    <h4 class = "subheading">Читайте медиаблоги интересных людей. Делитесь тем, что вас вдохновляет.</h4>
    <div class = 'signUp'>
      <%= form_for :user_sign_in, url: sessions_path do |f|%>
      <div class = 'wrap-input-signUp input-data-signUp'>
        <%= f.text_field :email, class: 'form-control input-skiny font-helvetica input-main-page',   placeholder: 'Почта'%>
      </div>
      <div class = 'wrap-input-signUp second-input-signUp input-data-signUp'>
        <%= f.password_field :password, class: 'form-control input-skiny font-helvetica input-main-page',   placeholder: 'Пароль'%>
      </div>
      <div class = 'wrap-input-signUp'>
        <div>
          <%= f.button 'Войти', class: 'btn btn-primary btn-st welcom-main-page' %>
           •
          <%= link_to "Регистрация", new_user_path, class: 'link-to-reg btn btn-st btn-st-contrast'%>
           •
          <%= link_to '/auth/vkontakte', class: 'link-to-reg-vk btn btn-st btn-st-contrast' do%>
            <img src='/images/vk_link_reg1.png'/> Войти через ВК
          <% end %>
        </div>
        <div class = 'preview-studpad'>
          <a href='/fresh'>
            <span class="glyphicon glyphicon-fire"></span>
            Обзор Studpad
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="helper-valign-m"></div>

</div>
