<script>
    $(document).on("page:load ready", function(){
        $('body').addClass('night').removeClass('day');
    });
</script>
<style>
    .cloud{
    }
    #cloud-1{
        top: 30px;
    }
    #cloud-2{
        top: 200px;
    }
    #cloud-3{
        top: 350px;
    }
</style>
<div class="homepage-hero-module">
    <div class="welcome-yet" style = 'background: url(/images/bkg-m2.png); background-size: cover; background-repeat: no-repeat; background-position: center;'>
        <!-- <video autoplay muted class="fillWidth">
            <source src="<%= image_path "Marguerite.mp4" %>" type="video/mp4"/>
        </video> -->
        <!--<img src = '' class = 'fillWidth'/>-->
    <%= render 'form' %>
    </div>
    <div class = 'introduce'>
        <div class = 'content-introduce'>
            <div class = 'text-description'>
                <h2>В Studpad все легко и просто</h2>
                <p>Создавать публикации проще простого. Делитесь фотографиями, GIF-ками, видеороликами, телесериалами, ссылками и даже рецептами любимых блюд. Это мгновенно!</p>
            </div>
        </div>
    </div>
    <div class = 'about-studpad'>
        <div class = 'content-about-studpad'>
            <div class = 'text-description'>
                <h2>С вами хотят поделиться</h2>
                <p>
                    У нас принято делиться! В Studpad каждый сможет найти для себя то, что ему по душе. Вдохновляйтесь блогами близких по духу людей.
                </p>
            </div>
        </div>
    </div>
    <div class = 'prospect'>
        <div class = 'content-prospect'>
            <div class = 'text-description'>
                <h2>О вас узнают!</h2>
                <p>
                    Публикуйте больше материалов, и о вас непременно узнают. Публикация будет отображена в соответствующем разделе. На каждой вашей публикации будет ваше имя. Вас заметят и начнут читать!

                </p>
            </div>
        </div>
    </div>
    <div class = 'conclusion'>
        <div class = 'content-conclusion'>
            <h1>Как видите, все очень просто</h1>
            <p>Теперь вы знаете, как это работает. Добро пожаловать на борт!</p>
            <!-- <video autoplay muted class="fillWidth">
                <source src="<%= image_path "Marguerite.mp4" %>" type="video/mp4"/>
            </video> -->
            <!--<img src = '' class = 'fillWidth'/>-->
            <%= render 'form' %>
            <div class = 'wrap-terms-and-informations'>
              <%= link_to 'Правила', terms_path, class: 'ti-a'%>
              <br>
              <span>Studpad © 2015</span>
            </div>
        </div>
    </div>
</div>


<script>
    /*$(window).scroll(function() {
        $('#introduce_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#about-UM_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#about-HW_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#conclusion_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
    }); */
</script>

<script>
    $( document ).ready(function() {
        $('#hat-studpad').hide();
        scaleVideoContainer();

        $(window).on('resize', function() {
            scaleVideoContainer();
        });

    });

    function scaleVideoContainer() {

        var height = $(window).height() + 5;
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height',unitHeight);


    }

    function initBannerVideoSize(element){

        $(element).each(function(){
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });

        scaleBannerVideoSize(element);

    }

    function scaleBannerVideoSize(element){

        var windowWidth = $(window).width(),
        windowHeight = $(window).height() + 5,
        videoWidth,
        videoHeight;

        console.log(windowHeight);

        $(element).each(function(){
            var videoAspectRatio = $(this).data('height')/$(this).data('width');

            $(this).width(windowWidth);

            if(windowWidth < 1000){
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                $(this).width(videoWidth).height(videoHeight);
            }

            $('.homepage-hero-module .video-container video').addClass('animated');

        });
    }
</script>
