<div id = 'main-line' class = 'container'>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-4">

      </div>
      <div class="col-lg-4 col-md-4 col-xs-4 text-on-page">
<h3>Авторизация</h3>
<%= form_tag(sessions_path, class: "form-vertical") do %>
  <div class="form-group">
    <%= label_tag(:email, "Почта", class: "control-label") %>
    <%= text_field_tag(:email, nil, class: "form-control", required: true) %>
  </div>
  <div class="form-group">
    <%= label_tag(:password, "Пароль", class: "control-label") %>
    <%= password_field_tag(:password, nil, class: "form-control", required: true) %>
  </div>
  <%= submit_tag("Войти", class: "btn btn-default") %>
<% end %>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4">

      </div>
    </div>
  </div>

