<div class = 'form-create-new-object animated zoomIn'>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <h1>Войдите</h1>
    <p>У Вас еще нет профиля на Студпаде?
      <%= link_to "Присоединяйтесь!", new_user_path %>
    </p>
    <p>
      <%= link_to 'Забыли пароль?', new_password_reset_path %>
    </p>
      <%= simple_form_for(@sign_in, url: sessions_path, html: { class: 'form-vertical' }) do |f| %>
        <%= f.input :email, label: false,  input_html: { class: 'input-sp', placeholder: 'Электронный адрес' }%>
        <%= f.input :password, label: false, input_html: { class: 'input-sp',  placeholder: 'Пароль' } %>
        <%= f.button :submit, 'Войти', class: 'btn-st btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
