<div class = 'card-sp first-left-block'>
  <div class = 'left-block-name'>
    <%= @classroom.name %>
  </div>
  <div class = 'left-block-founder'>
    <div class="feed-profile-background">
     <div class="feed-profile-avatar" style="background: url(
     <%= @classroom.main_teacher.avatar_safe_url :thumb %>
     ) no-repeat; background-size: cover;">
      </div>
      <div class="feed-profile-name-email">
        <div class="feed-profile-name"><%= @classroom.main_teacher.name %></div>
        <div class="feed-profile-email">Создатель</div>
      </div>
    </div>
  </div>
  <% if current_user %>
    <div class = 'left-block-welcome'>
      <%= link_to join_classroom_path(@classroom), remote: true,
      id: 'join-to-class', class: 'btn btn-primary btn-st' do %>
        Присоединиться
      <% end unless (@classroom.is_student? current_user)%>

      <span class = 'settings-left-block'>
        <%= link_to edit_classroom_path(@classroom) do %>
        <%= image_tag "settings.png", id: 'settigns-profile', size: "20x20", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Настройки" %>
        <% end if @classroom.is_main_teacher? current_user %>
      </span>
    </div>
  <% end %>
</div>
