<div class = 'row squares-menu margin0'>
    <div class = 'col-xs-4 align-c'>
        <%= link_to classroom_path(classroom_id) do%>
            <%= image_tag "feather14.png", size: "28x28" %>
            <span class="badge pull-right">249</span>
            <span>Новости</span>
        <% end %>
    </div>
    <div class = 'col-xs-4 align-c'>
        <%= link_to classroom_classmates_path(classroom_id) do%>
            <%= image_tag "babies12.png", size: "28x28" %>
            <span class="badge pull-right">249</span>
            <span>Мы</span>
        <% end %>
    </div>
    <div class = 'col-xs-4 align-c'>
        <%= link_to classroom_materials_path(classroom_id) do%>
            <%= image_tag "materialclass.png", size: "28x28" %>
            <span class="badge pull-right">249</span>
            <span>Материалы</span>
        <% end %>
    </div>
    <!--<div class = 'col-xs-3 align-c'>
        <%= link_to classroom_homeworks_path(classroom_id) do %>
            <%= image_tag "special1.png", size: "28x28" %>
            <span>ДЗ</span>
        <% end %>
    </div> -->
</div>
