<div class = 'card-sp'>
 <div class = 'title-background'>
  <div class = 'title-page'>
    Новости
  </div>
  <div id = 'form-send-news'>
    <%# @n = NewsItem.new classroom_id: classroom_id  %>
    <%#= form_for @n, url: classroom_news_index_path(classroom_id) do |f|%>
      <%#= f.text_field :text %>
      <%#= f.hidden_field :classroom_id %>
      <!-- <span id = 'send-news' class="btn btn-primary btn-st">Опубликовать</span> -->
      <%= form_tag( attachments_path,  id: 'news-dropzone') do %>
      <% end %>

    <%= form_for NewsItem.new, url: classroom_news_index_path(classroom_id) do |f|%>
      <%= f.text_area(:text, class: 'form-control', id: "textHW", placeholder: "Ваша новость...") %>
    <div class = 'wrap-send-news'>
      <span id = 'send-news' class="btn btn-primary btn-st">Опубликовать</span>
      <span id = 'attach-file-news' class="btn btn-default btn-st-inert">Прикрепить файл</span>
      <div class = 'preview-images-news row'>
        <!-- <div class = 'col-xs-2 this-preview-images-news' style = 'background: url(https://cs7055.vk.me/c7002/v7002481/9518/WhvigLLPSQE.jpg); background-size: cover;'>
        </div> -->
      </div>
      <div class = 'preview-files-news row'>
        <!-- <div class="files-this-post-news col-xs-3">
          <div class="this-material">
            <div class="files-image-mini type-document">
            </div>
            <div class="name-files-mini">
              <a href="/uploads/attachment/file/73/2my_task.c">2my_task.c</a>
            </div>
          </div>
        </div> -->

      </div>
    </div>
    <% end %>
  </div>
</div>
<div id = 'each-news'>
  <% @news.each do |n| %>
  <div class = 'the-news row'>
      <div class = 'col-xs-1 wrap-avatar-news'>
        <% if n.user.avatar.url %>
        <%= image_tag n.user.avatar.url(:thumb), class: 'img-avatar' %>
        <% else %>
        <img src = 'https://pp.vk.me/c619119/v619119124/20d41/n51h6svfjtM.jpg' width = '44' height = '44' class = 'img-avatar'/>
        <% end %>
      </div>
      <div class = 'col-xs-11'>
        <div class = 'content-the-news'>
          <% if current_user.id == n.user_id %>
          <div class = 'sign-sp close-news'>
            <span class="glyphicon glyphicon-pencil pencil-news"></span>
            &nbsp;&nbsp;
            <%= link_to news_path(n), method:'delete' do %>
            <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
          <% end %>
          <div class = 'news-username'>
            <%= link_to n.user.name, user_path(n.user) %>
          </div>
          <div class = 'main-text-news'>
            <span class = 'span-main-text-news'><%= n.text %></span>
          </div>
          <div class = 'textarea-update-news'>
            <%= form_tag news_path(n), method: 'patch' do %>
            <%= text_area_tag(:text, nil, class: 'form-control textHW-update') %>
            <div class = 'wrap-send-button'>
              <button type="submit" class="btn btn-primary btn-xs btn-st change-news">Сохранить</button>
            </div>
            <% end %>
          </div>
          <div class = 'wrap-img-in-page'>
            <div class = 'row'>
              <div class = 'col-xs-6'><img src = 'https://pp.vk.me/c623423/v623423186/495cb/QolLVsu7tIM.jpg' /></div>
              <div class = 'col-xs-6'><img src = 'https://pp.vk.me/c623423/v623423186/495b7/grX3yXfUI9s.jpg' /></div>
            </div>
            <div class = 'row'>
              <div class = 'col-xs-6'><img src = 'https://pp.vk.me/c623423/v623423186/495cb/QolLVsu7tIM.jpg' /></div>
              <div class = 'col-xs-6'><img src = 'https://pp.vk.me/c623423/v623423186/495b7/grX3yXfUI9s.jpg' /></div>
            </div>
          </div>
          <div class = 'files-this-post-news'>
            <div class="this-material">
              <div class="files-image-mini type-document">
              </div>
              <div class="name-files-mini">
                <a href="/uploads/attachment/file/73/2my_task.c">2my_task.c</a>
              </div>
            </div>
          </div>
        </div>
        <div class = 'form-send-comment-of-news'>
          <div class = 'menu-of-form-send-comment-of-news'>
            <span class = 'date-news'><%= n.created_at.strftime("%d %b %H:%M") %></span>
            <span class = 'give-comment'>Комментировать</span>
          </div>
          <div class = 'textarea-form-send-comment-of-news'>
            <%= form_tag comment_classroom_news_path(params[:id], n.id) do %>
            <%= text_area_tag(:text, nil, class: 'form-control textHW_comment my-setting-form-control', placeholder: "Ваш комментарий...") %>
            <div class = 'wrap-send-button'>
              <button type="submit" class="btn btn-primary btn-xs btn-st post-comment-of-news">Отправить</button>
            </div>
          </div>
          <% end %>
        </div>
        <% if n.comments.presence %>
          <div class = 'each-comment-of-the-news'>
            <% n.comments.each do |c|%>
            <div class = 'the-comment'>
              <div class = 'row'>
                <div class = 'col-xs-1 wrap-avatar-news'>
                  <img src = 'https://pp.vk.me/c623926/v623926048/203d3/Fm_NWAvhpss.jpg' width = '40' height = '40' class = 'img-avatar'/>
                </div>
                <div class = 'col-xs-11 the-comment-content'>
                  <% if current_user.id == c.user_id %>
                  <div class = 'sign-sp close-news'>
                    <span class="glyphicon glyphicon-pencil pencil-comment">
                    </span>&nbsp;&nbsp;
                    <%= link_to comment_path(c), method: 'delete' do %>
                    <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                  </div>
                  <% end %>
                  <div class = 'comment-username'>
                  <%= link_to c.user.name, user_path(c.user) %>
                  </div>
                  <div class = 'main-text-news'>
                    <span class = 'span-main-text-comment'><%= c.text %></span>
                  </div>
                  <div class = 'textarea-update-news'>
                    <%= form_tag comment_path(c), method: 'patch' do %>
                    <%= text_area_tag(:text, nil, class: 'form-control textHW-update') %>
                    <div class = 'wrap-send-button'>
                      <button type="submit" class="btn btn-primary btn-xs btn-st change-comment">Сохранить</button>
                    </div>
                    <% end %>
                  </div>
                  <div class = 'menu-of-form-send-comment-of-news'>
                    <span class = 'date-news'><%= c.created_at.strftime("%d %b %H:%M") %></span>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
</br>
