<div id = 'menu-under-news'>
</div>
<div class = 'title-background'>
  <div class = 'title-sp' id = 'title-news'>
    Новости
  </div>
  <div id = 'form-send-news'>
    <%= form_tag classroom_news_index_path(params[:id]) do %>
    <%= text_area_tag(:textHW, nil, class: 'form-control', placeholder: "Ваша новость...") %>
    <div class = 'wrap-send-button'>
      <button type="submit" id = 'post-news' class="btn btn-primary btn-sm"><span class = 'glyphicon glyphicon-send'></span> &nbsp;Опубликовать</button>
    </div>
    <% end %>
  </div>
</div>
<div id = 'each-news'>
  <% @news.each do |n| %>
  <div class = 'the-news'>
    <div class = 'row'>
      <div class = 'col-xs-1 wrap-avatar-news'>
        <img src = 'https://pp.vk.me/c619119/v619119124/20d41/n51h6svfjtM.jpg' width = '44' height = '44' class = 'img-avatar'/>
      </div>
      <div class = 'col-xs-11'>
        <% if current_user.id == n.user_id %>
        <div class = 'content-the-news'>
          <div class = 'sign-sp close-news'>
            <span class="glyphicon glyphicon-pencil pencil-news"></span>
            &nbsp;&nbsp;
            <%= link_to news_path(n), method:'delete' do %>
            <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
          <% end %>
          <div class = 'news-username'>
            <%= link_to n.user.name, user_path(n.user) %>
          </div>
          <div class = 'main-text-news'>
            <span class = 'span-main-text-news'><%= n.text %></span>
          </div>
          <div class = 'textarea-update-news'>
            <%= form_tag news_path(n), method: 'patch' do %>
            <%= text_area_tag(:text, nil, class: 'form-control textHW-update') %>
            <div class = 'wrap-send-button'>
              <button type="submit" class="btn btn-primary btn-xs change-news"><span class = 'glyphicon glyphicon-send'></span> &nbsp;Сохранить</button>
            </div>
            <% end %>
          </div>
        </div>
        <div class = 'form-send-comment-of-news'>
          <div class = 'menu-of-form-send-comment-of-news'>
            <span class = 'date-news'>28.10.1994</span>
            <span class = 'give-comment'>Комментировать</span>
          </div>
          <div class = 'textarea-form-send-comment-of-news'>
            <%= form_tag comment_classroom_news_path(params[:id], n.id) do %>
            <%= text_area_tag(:textHW_comment, nil, class: 'form-control textHW_comment', placeholder: "Ваш комментарий...") %>
            <div class = 'wrap-send-button'>
              <button type="submit" class="btn btn-primary btn-xs post-comment-of-news"><span class = 'glyphicon glyphicon-send'></span> &nbsp;Опубликовать</button>
            </div>
          </div>
          <% end %>
        </div>
        <% if n.comments.presence %>
          <div class = 'each-comment-of-the-news'>
            <% n.comments.each do |c|%>
            <div class = 'the-comment'>
              <div class = 'row'>
                <div class = 'col-xs-1 wrap-avatar-news'>
                  <img src = 'https://pp.vk.me/c623926/v623926048/203d3/Fm_NWAvhpss.jpg' width = '40' height = '40' class = 'img-avatar'/>
                </div>
                <div class = 'col-xs-11'>
                  <div class = 'sign-sp close-news'><span class="glyphicon glyphicon-pencil pencil-comment"></span>&nbsp;&nbsp;
                  <%= link_to comment_path(c), method: 'delete' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                  </div>
                  <div class = 'comment-username'>
                  <%= c.user.name %>
                  </div>
                  <div class = 'main-text-news'>
                    <span class = 'span-main-text-comment'><%= c.body %></span>
                  </div>
                  <div class = 'textarea-update-news'>
                    <%= form_tag comment_path(c), method: 'patch' do %>
                    <%= text_area_tag(:text, nil, class: 'form-control textHW-update') %>
                    <div class = 'wrap-send-button'>
                      <button type="submit" class="btn btn-primary btn-xs change-comment"><span class = 'glyphicon glyphicon-send'></span> &nbsp;Сохранить</button>
                    </div>
                    <% end %>
                  </div>
                  <div class = 'menu-of-form-send-comment-of-news'>
                    <span class = 'date-news'>28.10.1994</span>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
    <% end %>
</div>
