<div id = 'menu-under-news'>
</div>
<div class = 'title-background'>
  <div class = 'title-sp' id = 'title-news'>
    Новости
  </div>
  <div id = 'form-send-news'>
    <%= form_tag news_classroom_path do %>
    <%= text_area_tag(:textHW, "", class: 'form-control') %>
    <div id = 'wrap-send-button'>
      <button type="submit" id = 'post-news' class="btn btn-primary btn-sm"><span class = 'glyphicon glyphicon-send'></span> &nbsp;Опубликовать</button>
    </div>
    <% end %>
  </div>
</div>
<div id = 'each-news'>
  <% @news.each do |n| %>
  <div class = 'the-news'>
    <div class = 'row'>
      <div class = 'col-xs-1 wrap-avatar-news'>
        <img src = 'https://pp.vk.me/c619119/v619119124/20d41/n51h6svfjtM.jpg' width = '44' height = '44' class = 'img-avatar'/>
      </div>
      <div class = 'col-xs-11'>
        <% if current_user.id == n.user_id %>
        <div class = 'sign-sp close-news'>
          <span class="glyphicon glyphicon-pencil"></span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to news_path(n), method:'delete' do %>
          <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </div>
        <% end %>
        <div class = 'news-username'>
          <%= link_to n.user.name, user_path(n.user) %>
        </div>
        <div class = 'main-text-news'>
          <%= n.text %>
        </div>
        <% if n.comments.presence %>
          <div class = 'each-comment-of-the-news'>
            <% n.comments.each do |c|%>
            <div class = 'the-comment'>
              <div class = 'row'>
                <div class = 'col-xs-1 wrap-avatar-news'>
                  <img src = 'https://pp.vk.me/c623926/v623926048/203d3/Fm_NWAvhpss.jpg' width = '40' height = '40' class = 'img-avatar'/>
                </div>
                <div class = 'col-xs-11'>
                  <div class = 'sign-sp close-news'><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span></div>
                  <div class = 'comment-username'>
                  <%= c.user.name %>
                  </div>
                  <div class = 'main-text-news'>
                  <%= c.body %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
    <% end %>
</div>
