<div class ='container' id = 'main-container'>
    <%= render "left_branch" %>
    <%= render "/partials/profile" %>
    <div class = 'main-wall' id = 'central-part'>
      <div class = 'submenu'>
          <%= render "menu" %>
      </div>
      <div class = 'row'>
        <div class = 'col-xs-12'>
          <div class = 'card-sp sharp-wrap'>
            <div class="title-background-border title-without-border">
              <div class="title-page">
                Настройки Вашего класса
              </div>
            </div>
            <div class = 'row'>
              <div class = 'col-xs-12 field-edit-data'>
                <%= form_for @classroom, url: classroom_path(@classroom) do |f|%>
                <div class = 'edit-classroom edit-classroom-name'>
                   <%= f.text_field :name, class: 'form-control input-sp input-edit-classroom-name', placeholder: 'Название класса' %>
                </div>
                <div class="edit-classroom-footer">
                  <button type="submit" id = 'save-edit-class' class="btn btn-primary btn-st">Сохранить</button>
                </div>
                <% end %>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>
