<%
def classroom_id
    params[:classroom_id] || params[:id]
end
%>

<div class ='container' id = 'main-container'>
  <div class = 'row'>
    <%= render "partials/right_part_page" %>
    <div class = 'col-lg-7 col-md-8 col-xs-9' id = 'central-part'>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
      </div>
        <%= render "classrooms/materials_and_HW" %>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <div id = 'main-wall'>
            <div class = 'row'>
              <div class = 'col-lg-12 col-md-12 col-xs-12'>
                <% if current_user %>
                <%= render "classrooms/class_photos" %>
                <% end %>
              </div>
            </div>
            <% if current_user && current_user.can_view?(@classroom) %>
            <%= render "classrooms/news"%>
            <% else %>
            <br>
            <div class="alert alert-warning">
              Пожалуйста станьте учеником или
              учителем класса или
              зарегестрируйтесь
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>
