<div class ='container' id = 'main-container'>
  <div class = 'row'>
    <%= render "partials/right_part_page" %>
    <div class = 'col-lg-7 col-md-8 col-xs-9' id = 'central-part'>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-lg-7 col-md-7 col-xs-12'>
          <div class = 'card-sp'>
            <div id = 'subject-useful-material_img'>
            </div>
            <div class = 'subject-useful-material_menu'>
                <span class="label label-success label-subject">Полезные материалы</span> • Показать все
            </div>
            <div class = 'subject-useful-material_last'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <div class = 'col-lg-12 col-md-12 col-xs-12'>
                    <div class = 'news-username'>
                      Никитин Максим Вадимович
                    </div>
                    <div class = 'main-text-news'>
                      <span class = 'span-main-text-news'>Я просто вчера сильно расстроился, купив Coda 2 и найдя, что он вроде с одной стороны и приятный, а с другой стороны какой-то тугой и (лично для меня) не удобный именно базовым фунционалом.</span>
                    </div>
                    <div class = 'menu-of-form-send-comment-of-news'>
                      <span class = 'date-news'>5 апреля 2014</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = 'col-lg-5 col-md-5 col-xs-12'>
          <div class = 'card-sp'>
            <div id = 'subject-HW_img'>
            </div>
            <div class = 'subject-useful-material_menu'>
                <span class="label label-success label-subject">Домашнее задание</span> • Показать все
            </div>
            <div class = 'subject-useful-material_last'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <div class = 'col-lg-12 col-md-12 col-xs-12'>
                    <div class = 'news-username'>
                      Никитин Максим Вадимович
                    </div>
                    <div class = 'main-text-news'>
                      <span class = 'span-main-text-news'>Я просто вчера сильно расстроился, купив Coda 2 и найдя, что он вроде с одной стороны и приятный, а с другой стороны какой-то тугой</span>
                    </div>
                    <div class = 'menu-of-form-send-comment-of-news'>
                      <span class = 'date-news'>5 апреля 2014</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <div id = 'main-wall'>
            <div class = 'row'>
              <div class = 'col-lg-12 col-md-12 col-xs-12'>
                <% if current_user %>
                <%= render "classrooms/class_photos" %>
                <% end %>
              </div>
            </div>
            <% if current_user && current_user.can_view?(@classroom) %>
            <%= render "classrooms/news"%>
            <% else %>
            <br>
            <div class="alert alert-warning">
              Пожалуйста станьте учеником или
              учителем класса или
              зарегестрируйтесь
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>
