<div class ='container' id = 'main-container'>
  <div class = 'row'>
    <%= render  "list_subjects"%>
    <div class = 'col-lg-7 col-md-7 col-xs-7' id = 'central-part'>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <div class = 'title-sp' id = 'class-name-school'>
            <%= @classroom.school.name %>
          </div>
          <div class="alert alert-success">Ученик успешно добавлен</div>
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <div id = 'main-wall'>
            <div class = 'row'>
              <div class = 'col-lg-12 col-md-12 col-xs-12'>
                <%= render "class_photos" %>
              </div>
            </div>

            <%= render "news"%>
        </div>
      </div>
    </div>
    </div>

    <%= render "right_part_page" %>
  </div>
</div>
