<div class ='container' id = 'main-container'>
    <div class = 'left-branch'>
      <%= render "/partials/profile" %>
      <%= render "/classrooms/left_branch" %>
    </div>
    <div class = 'main-wall'>
      <div class = 'submenu'>
          <%= render "classrooms/menu" %>
      </div>
      <div class = 'title-background'>
        <div class = 'title-page'>
          Мы
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-xs-12'>
          <div class = 'card-sp sharp-wrap'>
            <div class = 'container-fluid'>
              <div class = 'row'>
                <%= render partial: 'classmate', object: @classroom.main_teacher %>
                <%= render partial: 'classmate', collection: @classmates %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
