<div class = 'card-sp' id = "profile_user">
  <% if current_user %>

    <div class="block-objects block-user-profile">
      <div class="preview-object">
        <%= link_to user_path(current_user) do %>
        <div class="preview-object-avatar profile-preview-object-avatar" style="background: url(
         <%= current_user.avatar.thumb %>) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info profile-preview-object-info">
          <div class="object-name profile-name">Мой микроблог</div>
          <!--<div class="object-text">
            <span class="badge badge-sp each-class">11 А</span> <span class="badge badge-sp each-class">8 В</span> <span class="badge badge-sp each-class">1 класс</span> <span class="badge badge-sp each-class">11 А</span>
          </div>-->
          <% end %>
          <!--<div class = 'switcher'><img class = 'switch' src = '/images/switch9.png' width = '25' height = '25'/></div>-->
          <div class = 'object-text profile-menu'>
            <div>
              <%= link_to 'Настройки', profile_edit_path %>
            </div>
            <div>•
              <%= link_to logout_path, data: { no_turbolink: true } do %>
                Выход
              <% end if current_user %>
            </div>
            <!--<div class = 'btn-group'>
              <span class = 'sign-dots-menu sign-dots-profile-menu' data-toggle="dropdown">•••</span>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to logout_path, data: { no_turbolink: true } do %>
                    Выход
                  <% end if current_user %>
                </li>
              </ul>
            </div>-->
          </div>
        </div>
        <div class = 'clearer'></div>
      </div>
    </div>
  <% else %>
    <div class = "border-t-radius" id = 'feed-card-user'>
      <div class = 'card-sp '>
        <div class = 'feed-profile-background'>
       <div class = "feed-profile-avatar" style="background: url('/empty.png') no-repeat; background-size: cover;">
        </div>
        <div class = "feed-profile-name-email">
          <div class = "feed-profile-name"><%= link_to 'Войти', welcome_path %></div>
          <div class = "feed-profile-email">
            <%= link_to 'Зарегистрироваться', signup_path %>
          </div>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
