<div class = 'card-sp' id = "profile_user">
  <% if current_user %>
    <%= link_to user_path(current_user) do %>
    <div class="block-objects">
      <div class="preview-object">
        <div class="preview-object-avatar profile-preview-object-avatar" style="background: url(
         <%= current_user.avatar_safe_url(:thumb) %>) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info profile-preview-object-info">
          <div class="object-name profile-name"><%= current_user.name %></div>
          <div class="object-text">
            <span class="badge badge-sp each-class">11 А</span> <span class="badge badge-sp each-class">8 В</span> <span class="badge badge-sp each-class">1 класс</span> <span class="badge badge-sp each-class">11 А</span>
          </div>
        </div>
        <div class = 'clearer'></div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class = "border-t-radius" id = 'feed-card-user'>
      <div class = 'card-sp '>
        <div class = 'feed-profile-background'>
       <div class = "feed-profile-avatar" style="background: url('/empty.png') no-repeat; background-size: cover;">
        </div>
        <div class = "feed-profile-name-email">
          <div class = "feed-profile-name"><%= link_to 'Войти', welcome_path %></div>
          <div class = "feed-profile-email"><%= link_to 'Зарегестрироваться', signup_path %></div>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
