<div  class= "left-wall" id = 'right-part-page'>
  <div class = 'container-sp'>
    <div class = 'title-sp'>
        <%= @classroom.name %>
    </div>
    <div class = 'whattext-sp'>
      Классный руководитель:
      <%= link_to @classroom.main_teacher.name, user_path(@classroom.main_teacher) %>
      <br>
      <% if !current_user%>
        <%= link_to 'Присоединиться к классу', new_student_classroom_path %>
      <% elsif current_user.teacher? && !current_user.can_view?(@classroom) %>
        <%= link_to 'Стать учителем данного класса', "#" %>
      <% end %>
    </div>
    <div id = 'show-teachers-students'>
      <span id = 'all-students' class = 'type-profiles'>Ученики</span> • <span id = 'all-teachers' class = 'type-profiles'>Преподаватели</span>
    </div>
    <div id = 'each-students'>
      <!-- УЧЕНИКИ -->
      <% @classroom.students.each do |s| %>
      <div class = 'the-person'>
        <%= link_to user_path(s) do %>
          <%= image_tag s.avatar_safe_url(:thumb), class: 'img-avatar' %>
        <% end %>
        <%= link_to user_path(s) do %>
          <%= s.name %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div id = 'each-teachers'>
      <% @classroom.teachers.each do |s| %>
      <div class = 'the-person'>
        <%= link_to user_path(s) do %>
        <img src = 'http://cs623926.vk.me/v623926048/203d1/oKxZowyyX28.jpg' width = '44' height = '44' class = 'img-avatar'/>
        <%= s.name %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
