<div class = 'profile-followers'>
  <div class = 'action-angle'>
    <% if @user == current_user %>
    <div class = 'btn-group'>
      <span class = 'sign-dots-menu-big profile-setting' data-toggle="dropdown">•••</span>
      <ul class="dropdown-menu blue-background-dropdown-menu" role="menu">
        <li>
          <%= link_to 'Мои настройки', profile_edit_path %>
          <%= link_to 'Выход', logout_path, data: { no_turbolink: true } %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
  <div class = 'wrap-element-profile-followers'>
    <div class = 'element-profile-followers'>
      <p><img src='/images/publication.png' /> Публикации</p>
      15
    </div>
    <div class = 'element-profile-followers'>
      <p><img src="/images/like_active.png"> Нравится</p>
      12
    </div>
    <% if @user.followers_count != 0 %>
      <%= link_to followers_user_path(@user) do %>
        <div class = 'element-profile-followers'>
          <% if @user != current_user %>
            <p>Читатели</p>
          <% else %>
            <p>Меня читают</p>
          <% end %>
          <%= @user.followers_count %>
        </div>
      <% end %>
    <% end %>
    <% if @user.follow_count != 0 %>
      <%= link_to following_user_path(@user) do %>
        <div class = 'element-profile-followers'>
          <% if @user != current_user %>
            <p>Читает</p>
          <% else %>
            <p>Я читаю</p>
          <% end %>
          <%= @user.follow_count %>
        </div>
      <% end %>
    <% end %>
    <div class = 'element-profile-read'>
      <% if current_user && @user != current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to 'Читаю', unfollow_user_path(@user),
          method: :post,
          class: 'btn btn-primary btn-st btn-follow btn-follow-on',
          data: { toggle: 'tooltip', placement: 'bottom' } %>
        <% else %>
          <%= link_to 'Читать', follow_user_path(@user),
          method: :post,
          class: 'btn btn-primary btn-st',
          data: { toggle: 'tooltip', placement: 'bottom' } %>
        <% end %>
      <!-- <button class = 'btn btn-primary btn-st'>Читать</button> -->
      <% end %>
    </div>
    <div class = 'clearboth'>
    </div>
  </div>
</div>
