<div class = 'profile-followers'>
  <div class = 'wrap-element-profile-followers'>
    <% if @user.posts.count != 0 %>
      <%= link_to user_path(@user) do %>
        <div class = 'element-profile-followers'>
            <p>Публикации</p>
            <%= @user.posts.count %>
        </div>
      <% end %>
    <% end %>
    <% if @user.get_voted(Post).count != 0 %>
      <%= link_to favourite_user_path(@user) do %>
        <div class = 'element-profile-followers'>
            <p>Нравится</p>
            <%= @user.get_voted(Post).count %>
        </div>
      <% end %>
    <% end %>
    <% if @user.followers_count != 0 %>
      <%= link_to followers_user_path(@user) do %>
        <div class = 'element-profile-followers'>
          <% if @user != current_user %>
            <p>Читатели</p>
          <% else %>
            <p>Меня читают</p>
          <% end %>
          <%= @user.followers_count %>
        </div>
      <% end %>
    <% end %>
    <% if @user.follow_count != 0 %>
      <%= link_to following_user_path(@user) do %>
        <div class = 'element-profile-followers'>
          <% if @user != current_user %>
            <p>Читает</p>
          <% else %>
            <p>Я читаю</p>
          <% end %>
          <%= @user.follow_count %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
