<div class = 'profile-avatar_img' style = 'background: url(<%= @user.avatar %>) no-repeat; background-size: cover; background-color: white;'>
</div>
<div class = 'bar-profile card-sp'>
  <%= link_to user_path(@user) do %>
    <div>
        <span class="badge pull-right"><%= @user.posts.count %></span>
        <img src='/images/publication.png' /> Публикации
    </div>
  <% end %>
  <%= link_to basket_user_path(@user) do %>
    <div>
        <span class="badge pull-right"><%= @user.get_basket.posts.count %></span>
        <img src='/images/delicious_active.png' /> Самое вкусное
    </div>
  <% end %>
</div>
