<div class = 'profile-avatar_img' style = 'background: url(<%= @user.avatar %>) no-repeat; background-size: cover; background-color: white;'>
</div>
<div class = 'bar-profile card-sp'>
  <div>
    <%= link_to user_path(@user) do %>
      <span class="badge pull-right"><%= @user.posts.count %></span>
      <img src='/images/publication.png' /> Публикации
    <% end %>
  </div>
  <div>
    <%= link_to basket_user_path(@user) do %>
      <span class="badge pull-right"><%= @user.get_basket.posts.count %></span>
      <img src='/images/dessert4.png' /> Самое вкусное
    <% end %>
  </div>
</div>
