<div class='card-sp'>
  <div class = 'profile-avatar_img border-t-radius' style = 'background: url(<%= @user.avatar %>) no-repeat; background-size: cover; background-color: white;'>
  </div>
  <div class = 'profile-info'>
    <div class = 'profile-info_name'><%= @user.name %></div>
    <div class = 'profile-info_school'><%= @user.school %></div>
  </div>
</div>

<!--<div class = 'bar-profile card-sp'>
  <%= link_to user_path(@user) do %>
    <div>
        <span class="badge pull-right"><%= @user.posts.count %></span>
        <img src='/images/publication.png' /> Публикации
    </div>
  <% end %>
  <%= link_to basket_user_path(@user) do %>
    <div>
        <span class="badge pull-right"><%= @user.get_basket.posts.count %></span>
        <img src='/images/delicious_active.png' /> Самое вкусное
    </div>
  <% end %>
</div>-->