<div class = 'profile-info'>
  <div class = 'profile-info_name slideRight'><%= @user.name %> &nbsp;
    <%= link_to edit_user_path(@user) do %>
    <%= image_tag "settings.png", id: 'settigns-profile', size: "20x20", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Настройки" %>
    <% end %>
  </div>
  <div class = 'profile-info_school'>
    <%= @user.school %>
  </div>
  <!-- <div class = 'profile-info_statistic'>
    <p>
      Публикации: <span><%= @user.materials.count %></span>
    </p>
  </div> -->
</div>
<!--<div class = ''>
  <div class = 'user-classrooms'>
    Классы: <a>11Б</a>
  </div>
  <a class = 'create-class' data-toggle = "modal" data-target = "#modal-window-create-class">Создать класс</a>
  <div class = 'user-communities'>
    Сообщества: <a>У Вас нет сообществ</a>
  </div>
  <a class = 'create-community' data-toggle = "modal" data-target = "#modal-window-create-class">Создать сообщество</a>
</div> -->

<div class = 'card-sp classes-and-communities'>
  <div class = 'block-title'>
    Сообщества
  </div>
  <div class = 'block-objects'>

    <div class = 'preview-object'>
        <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009404/2445/GXEqpYbo_LM.jpg) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info">
          <div class = 'object-name'><a>Очень секретно</a></div>
          <div class = 'object-text'>Закрытое сообщество</div>
        </div>
    </div>

    <div class = 'preview-object'>
        <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009943/bb3b/sw8R5nIyYiM.jpg) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info">
          <div class = 'object-name'><a>Очень секретно, хотя не очень</a></div>
          <div class = 'object-text'>Открытое сообщество</div>
        </div>
    </div>

    <div class = 'preview-object'>
        <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009943/bd4e/ZSfURcAwewM.jpg) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info">
          <div class = 'object-name'><a>Очень секретно</a></div>
          <div class = 'object-text'>Закрытое сообщество</div>
        </div>
    </div>

    <input type = 'button' id = 'create-community' class = 'btn btn-primary btn-xs btn-st' data-toggle="modal" data-target="#modal-window-create-community" value = 'Создать сообщество' />
  </div>
</div>
<!--<div class = "classes-and-communities card-sp">
  <div class = "card-sp-heading">
    Сообщества:
    <% @user.communities.each do |c| %>
      <%= link_to c.name, community_path(c) %>
    <% end %>
  </div>
  <div class = "card-sp-body">
    <input type = 'button' id = 'create-community' class = 'btn btn-primary btn-xs btn-st' data-toggle="modal" data-target="#modal-window-create-community" value = 'Создать сообщество' />
  </div>
</div> -->
<div class = "classes-and-communities card-sp margin-t15 margin-b40">
  <div class = 'block-title'>
    Классы
  </div>
  <div class = "block-objects">
    <% if @user.teacher? %>
      <% @user.classrooms.each do |c| %>
        <%= link_to c.name, classroom_path(c) %>
      <% end %>
    <% else %>
      <%= link_to @user.classroom.name, classroom_path(@user.classroom) %>
    <% end %>
    <div class="preview-object-info margin-l0">
      <div class = 'object-name'><a>11 А</a>, <a>5 Б</a></div>
    </div>
    </br>
    <% if @user.teacher? %>
      <input type = 'button' id = 'create-class' class = 'btn btn-primary btn-xs btn-st' data-toggle="modal" data-target="#modal-window-create-class" value = 'Создать класс' />
    <% end %>

  </div>
</div>
