<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
  </div>

  <div class = 'main-wall'>
    <div class = 'card-sp'>

        <div class="title-background-border title-without-border">
          <div class="title-page">
            Настройки профиля
          </div>
        </div>
        <div class = 'community-heading edit-community-heading'>
            <div class = 'edit-community-avatar'>
              <div class = 'current-edit-profile-avatar_img' style = 'background: url(<%= @user.avatar %>) no-repeat; background-size: cover;'>
              </div>
              <div class = 'align-c margin-t10'>
                <a class = 'edit-profile-avatar' data-toggle="modal" data-target="#modal-change-avatar">Сменить фотографию</a>
              </div>
            </div>
            <div class = 'info-community'>
              <%= form_for @user, url: user_path(@user) do |f| %>
              <div class = 'edit-profile edit-profile-name'>
                <%= f.text_field :name, class: 'form-control input-sp input-edit-profile-name', placeholder: 'Ваше имя' %>
              </div>
              <div class = 'edit-profile edit-profile-city'>
                <%= f.select :city_id, City.where(id: @user.city_id).pluck(:name, :id),
                  { include_blank: true }, {} %>
              </div>
              <div class = 'edit-profile edit-profile-about'>
                <%= f.text_area :description,
                  class: 'form-control input-sp input-edit-profile-about',
                  placeholder: 'О себе' %>
              </div>
              <div class = 'edit-profile edit-profile-school'>
                <%= f.text_field :school,
                  class: 'form-control input-sp input-edit-profile-school',
                  placeholder: 'Сайт' %>
              </div>
              <div class = 'edit-profile edit-profile-school'>
                <span>vk.com/</span>
                <%= f.text_field :vk_id,
                  class: 'form-control input-sp input-edit-vk_id',
                  placeholder: 'id' %>
              </div>
              <div class = 'edit-profile edit-profile-school'>
                <span>instagram.com/</span>
                <%= f.text_field :instagram_id,
                  class: 'form-control input-sp input-edit-insta_id',
                  placeholder: 'id' %>
              </div>

              <div class = 'change-password'>
                <div class = 'action-angle-only-font'>
                  <div class = 'btn-group'>
                    <span class = 'sign-dots-menu-big' data-toggle="dropdown">•••</span>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a data-toggle="modal" data-target="#modal-window-change-password">Изменить пароль</a>
                      </li>
                      <li>
                        <a data-toggle="modal" data-target="#modal-window-remove-profile">Удалить свой профиль</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="edit-profile-footer">
                <button type="submit" id = 'save-edit-profile' class="btn btn-primary btn-st">Сохранить</button>
              </div>
              <% end %>
            </div>
            <div class = 'clearboth'>
            </div>
        </div>

    </div>
  </div>
</div>

<%= render "change_avatar" %>
<%= render "change_password" %>
<%= render "remove_profile" %>


