<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
    <%= render '/partials/profile' %>
    <%= render 'left_branch_profile' %>
  </div>

  <div class = 'main-wall'>
    <%#= render "info_user" %>
    <div class = 'panel-user'>
      <div class = 'profile-info-follow'>
        <%= render partial: 'followers_block' %>
      </div>
    </div>
    <div class="title-background">
      <div class="title-page">
        <% if @user != current_user %>
          <p>Читатели</p>
        <% else %>
          <p>Меня читают</p>
        <% end %>
      </div>
    </div>
    <div class="usual-list border-b-radius">
      <div class = 'followers'>
        <% @user.followers.each do |u|%>
        <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  <%= u.avatar.thumb %>
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <%= link_to u.name, user_path(u)%>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
