<div class = 'form-create-new-object animated zoomIn'>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <h1>Регистрация</h1>
    <p>У Вас уже есть профиль на Студпаде?
      <%= link_to "Войдите!", welcome_path %>
    </p>
    </br>
    <div class = 'row'>
        <div class="wrap-radio align-c col-xs-4">
          <input class = "input-radio-sp" type = "radio" name = "user-type" id = 'teacher'>
          <label for = 'teacher'>Преподавтель</label>
        </div>
        <div class="wrap-radio align-c col-xs-4">
          <input class = "input-radio-sp" type = "radio" name = "user-type" id = 'student'>
          <label for = "student">Обучающийся</label>
        </div>
    </div>
    <%= simple_form_for(@user, url: users_path, html: { class: 'form-vertical' }) do |f| %>
      <%= f.input :name, label: false, input_html: { class: 'input-sp', placeholder: 'Имя' } %>
      <%= f.input :email, label: false, input_html: { class: 'input-sp',  placeholder: 'Электронный адрес' } %>
      <%= f.input :password, label: false, input_html: { class: 'input-sp',  placeholder: 'Пароль' } %>
      <%= f.input :password_confirmation, label: false,  input_html: { class: 'input-sp',  placeholder: 'Повторите пароль' } %>
      <%= f.button :submit, button_name(@user), class: 'btn-st btn-primary' %>
    <% end %>
    </div>
  </div>
</div>
