<div class = 'form-create-new-object animated zoomIn'>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <h1>Регистрация</h1>
    <p>У Вас уже есть профиль на Студпаде?
      <%= link_to "Войдите!", welcome_path %>
    </p>

    <%= simple_form_for(@user, url: users_path, html: { class: 'form-vertical' }) do |f| %>
      <%= f.input :name, label: false, input_html: { class: 'input-sp', placeholder: 'Имя' } %>
      <%= f.input :email, label: false, input_html: { class: 'input-sp',  placeholder: 'Электронный адрес' } %>
      <%= f.select :city_id, City.where(id: @user.city_id).pluck(:name, :id),
                  { include_blank: true }, {id: 'user_city_id'} %>
      <%= f.input :password, label: false, input_html: { class: 'input-sp',  placeholder: 'Пароль' } %>
      <%= f.input :password_confirmation, label: false,  input_html: { class: 'input-sp',  placeholder: 'Повторите пароль' } %>
      <div class = 'reg-licence'>
        <%= f.input :terms_of_service, as: :boolean,
          label: "Я принимаю #{link_to 'правила сайта', terms_path}  и #{link_to 'лицензионное соглашение', licence_path}.".html_safe %>
      </div>
      <%= f.button :submit, button_name(@user), class: 'btn-st btn-primary' %>
    <% end %>
    </div>
  </div>
</div>
