<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
  </div>

  <div class = 'main-wall'>
    <div class="title-background border-radius-top">
      <div class="title-page">
        Уведомления
      </div>
    </div>
    <div class="usual-list border-b-radius">
      <div class = 'followers'>
        <% @user.notifications.order(created_at: :desc).limit(30).each do |n| %>
          <div class = 'follower'>
            <div class='follower-user-button'>
              <div class='follower-user'>
                <div class="preview-object">
                    <div class="preview-object-avatar" style="background: url(
                    <%= n.who.avatar.thumb %>
                    ) no-repeat; background-size: cover;">
                    </div>
                    <div class="preview-object-info">
                      <div class="object-text">
                        <div class="object-maintext">
                          <%= link_to n.who.name, user_path(n.who) %>
                          <% if n.comment? %>
                          <span>прокоментировал(а)</span>
                          <%= link_to 'эту', post_path(n.post_id) %>
                          <span>публикацию</span>
                          <% elsif n.like? %>
                          <span>понравилась</span>
                          <%= link_to 'эта', post_path(n.post_id) %>
                           <span>публикация</span>
                          <% elsif n.basket? %>
                          <span>добавил(а)</span>
                          <%= link_to 'эту', post_path(n.post_id) %>
                           <span>публикацию в "Самое вкусное"</span>
                          <% else %>
                          <span>начал(а) читать Вас</span>
                          <% end %>

                        </div>
                        <div class="object-subtext-data">
                          <%= l n.created_at %>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="clearboth">
                </div>
              </div>
              <div class = 'follower-button'>
                <img src = '<%= n.image_path %>' />
              </div>
            </div>
            <div class="clearboth">
            </div>
          </div>
        <% end %>
        <% @user.notifications.where(viewed: false).update_all(viewed: true) %>
        <!-- <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  http://studpad.ru/uploads/teacher/avatar/945/abd192f70f.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a>Макс Никитин</a> <span>понравилась</span> <a>эта</a> <span>публикация</span>
                      </div>
                      <div class="object-subtext-data">30 нояб.</div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
              <img src = '/images/like_active.png' />
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div>


        <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  http://studpad.ru/uploads/teacher/avatar/945/abd192f70f.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a>Макс Никитин</a> <span>прокоментировал(а)</span> <a>эту</a> <span>публикацию</span>
                      </div>
                      <div class="object-subtext-data">30 нояб.</div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
              <img src = '/images/chatting.png' />
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div>

        <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  http://studpad.ru/uploads/teacher/avatar/945/abd192f70f.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a>Макс Никитин</a> <span>добавил(а)</span> <a>эту</a> <span>публикацию в "Самое вкусное"</span>
                      </div>
                      <div class="object-subtext-data">30 нояб.</div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
              <img src = '/images/delicious_active.png' />
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div>

        <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  http://studpad.ru/uploads/teacher/avatar/945/abd192f70f.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a>Макс Никитин</a> <span>начал(а) читать Вас</span>
                      </div>
                      <div class="object-subtext-data">30 нояб.</div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
              <img src = '/empty.png' />
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
