<style>
  body{
  	background-image: none;
  	background-color: rgba(245, 248, 250, 1);
  }
  .cloud{
    display: none;
  }
</style>
<div id = 'page_user'>
	<div class = 'profile-background' style = 'background: url(https://pp.vk.me/c7009/v7009943/b108/YeLmD9Meuu8.jpg); background-size: cover;'>
	</div>

  <div class = 'profile-avatar'>
    <div class = 'profile-avatar_img slideRight' style = 'background: url(<%= @user.avatar_safe_url %>) no-repeat; background-size: cover;'>
    </div>
    <%= render 'my_communities' %>

  </div>



  <div class = 'profile-sidebar'>
    <div class = 'position-profile-sidebar'>
      <div class = 'element-of-profile-sidebar'>
        Публикации
        <div>
          <span><%= @user.materials.count %></span>
        </div>
      </div>
    </div>
  </div>

  <div class = 'profile-main-wall'>
    <div class="title-background-border">
      <div class="title-page">
        <% if @materials.any? %>
          Ваши публикации
        <% else %>
          Опубликуйте что-нибудь))
        <% end %>
      </div>
    </div>
    <div class = 'row'>
      <div id = 'all_materials' class = 'col-xs-12'>
        <%= render @materials, partial: 'materials/material' %>
      </div>
    </div>
  </div>
</div>
<%= render "/partials/view_material" %>
<%= render "materials/modal_window" %>
<%= render "form_create_class" %>
<%= render "form_create_community" %>
