<style>
  body{
  	background-image: none;
  	background-color: rgba(245, 248, 250, 1);
  }
</style>
<div id = 'page_user'>
	<div class = 'profile-background' style = 'background: url(https://pp.vk.me/c623424/v623424048/27254/baQNSFBAPLI.jpg); background-size: cover;'>
	</div>

  <div class = 'profile-avatar slideRight'>
    <div class = 'profile-avatar_img' style = 'background: url(<%= @user.avatar.url %>) no-repeat; background-size: cover;'>
    </div>
	  <div class = 'profile-info'>
	    <div class = 'profile-info_name'><%= @user.name %></div>
	    <div class = 'profile-info_school'>
        <%= @user.classroom.school.name if @user.student? %>  </div>
      <div class = 'profile-info_statistic'>
        <p>
          Публикации: <span><%= @user.materials.count %></span>
        </p>
      </div>
	    <div class = 'profile-info_start'>В Studpad с
        <%= @user.began_with %></div>
	  </div>
  </div>



  <div class = 'profile-sidebar'>
    <input type = 'button' class = 'btn btn-primary btn-st create-class' data-toggle = "modal" data-target = "#modal-window-create-class" value = 'Создать класс' />
    <input type = 'button' class = 'btn btn-primary btn-st create-community' value = 'Создать сообщество' />
    <input type = 'button' class = 'btn btn-primary btn-st' value = 'Настройки' />
  </div>

  <div class = 'profile-main-wall'>
    <div class="title-background-border">
      <div class="title-page">
        Ваши публикации
      </div>
    </div>
    <div class = 'row'>
      <div id = 'all_materials' class = 'col-xs-12'>
        <%= render @materials, partial: 'materials/material' %>
      </div>
    </div>
  </div>
</div>
<%= render "/partials/view_material" %>
<%= render "materials/modal_window" %>
<%= render "form_create_class" %>
