<style>
  body{
  	background-image: none;
  	background-color: rgba(245, 248, 250, 1);
  }
  .cloud{
    display: none;
  }
</style>
<div id = 'page_user'>
	<div class = 'profile-background' style = 'background: url(https://pp.vk.me/c7009/v7009680/3cb9/WJleTB_3U98.jpg); background-size: cover;'>
	</div>

  <div class = 'profile-avatar'>
    <div class = 'profile-avatar_img slideRight' style = 'background: url(<%= @user.avatar_safe_url %>) no-repeat; background-size: cover;'>
    </div>
	  <div class = 'profile-info'>
	    <div class = 'profile-info_name slideRight'><%= @user.name %> &nbsp;<%= image_tag "settings.png", id: 'settigns-profile', size: "20x20", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Настройки" %></div>
	    <div class = 'profile-info_school'>
        МБОУ Лицей №1 г. Невинномысск
      </div>
      <!-- <div class = 'profile-info_statistic'>
        <p>
          Публикации: <span><%= @user.materials.count %></span>
        </p>
      </div> -->
	  </div>
    <!--<div class = ''>
      <div class = 'user-classrooms'>
        Классы: <a>11Б</a>
      </div>
      <a class = 'create-class' data-toggle = "modal" data-target = "#modal-window-create-class">Создать класс</a>
      <div class = 'user-communities'>
        Сообщества: <a>У Вас нет сообществ</a>
      </div>
      <a class = 'create-community' data-toggle = "modal" data-target = "#modal-window-create-class">Создать сообщество</a>
    </div> -->
    <div class = "classes-and-communities card-sp">
      <div class = "card-sp-heading">
        Классы • <input type = 'button' id = 'create-class' class = 'btn btn-primary btn-xs btn-st' data-toggle="modal" data-target="#modal-window-create-class" value = 'Создать класс' />
      </div>
      <div class = "card-sp-body">
        <a>11А</a>, <a>7Б</a>
      </div>
    </div>

    <div class = "classes-and-communities card-sp">
      <div class = "card-sp-heading">
        Группа • <input type = 'button' id = 'create-community' class = 'btn btn-primary btn-xs btn-st' data-toggle="modal" data-target="#modal-window-create-community" value = 'Создать группу' />
      </div>
      <div class = "card-sp-body">
        Вы не состоите ни в одном сообществе
      </div>
    </div>

  </div>



  <div class = 'profile-sidebar'>
    <div class = 'position-profile-sidebar'>
      <div class = 'element-of-profile-sidebar'>
        Публикации
        <div>
          <span><%= @user.materials.count %></span>
        </div>
      </div>
    </div>
  </div>

  <div class = 'profile-main-wall'>
    <div class="title-background-border">
      <div class="title-page">
        <% if @materials.any? %>
          Ваши публикации
        <% else %>
          Опубликуйте что-нибудь))
        <% end %>
      </div>
    </div>
    <div class = 'row'>
      <div id = 'all_materials' class = 'col-xs-12'>
        <%= render @materials, partial: 'materials/material' %>
      </div>
    </div>
  </div>
</div>
<%= render "/partials/view_material" %>
<%= render "materials/modal_window" %>
<%= render "form_create_class" %>
<%= render "form_create_community" %>
