<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
    <%= render '/partials/profile' %>
    <%= render 'left_branch_profile' %>
  </div>

  <div class = 'main-wall'>
    <div class = 'panel-user'>
      <div class = 'profile-info-follow'>

        <%= render partial: 'followers_block' %>
      </div>
    </div>
    <%= react_component("PostBox",
        posts_url: posts_user_path(@user), show_panel: (current_user == @user) ) %>
  </div>
  <div class = 'right-branch'>
        <div class = 'element-profile-read'>
          <% if current_user && @user != current_user %>
            <% if current_user.following?(@user) %>
              <%= link_to 'Читаю', unfollow_user_path(@user),
              method: :post,
              class: 'btn btn-primary btn-st btn-follow btn-follow-on',
              data: { toggle: 'tooltip', placement: 'bottom' } %>
            <% else %>
              <%= link_to 'Читать', follow_user_path(@user),
              method: :post,
              class: 'btn btn-primary btn-st',
              data: { toggle: 'tooltip', placement: 'bottom' } %>
            <% end %>
          <!-- <button class = 'btn btn-primary btn-st'>Читать</button> -->
          <% end %>
        </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('vk_share_button').innerHTML = VK.Share.button({
    url: '<%= user_url(@user) %>',
    title: 'Мой микроблог',
    description: 'Это мой микроблог',
    image: 'http://studpad.ru/images/img-prospect.png',
    noparse: true
  },
  {
    type: 'link',
    text: 'Вконтакте'
  });
</script>
