<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
    <%= render '/partials/profile' %>
    <div class = 'profile-avatar_img' style = 'background: url(<%= @user.avatar %>) no-repeat; background-size: cover;'>
    </div>
  </div>

  <div class = 'main-wall'>
    <%#= render "info_user" %>
    <div class = 'panel-user'>
      <div class = 'profile-info'>
        <div class = 'action-angle'>
          <% if @user == current_user %>
          <div class = 'btn-group'>
            <span class = 'sign-dots-menu-big profile-setting' data-toggle="dropdown">•••</span>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to 'Мои настройки', profile_edit_path %>
                <%= link_to 'Выход', logout_path, data: { no_turbolink: true } %>
              </li>
            </ul>
          </div>
          <% end %>
        </div>
        <div class = 'profile-info_name'><%= @user.name %>
          <span class = 'profile-info_status'>• <%= @user.description %> </span>
        </div>
        <div class = 'profile-info_school'>
          <%= @user.school %>
        </div>
        <div class = 'profile-followers'>
          <% if @user.follow_count != 0 %>
            <div class = 'element-profile-followers'>
              <% if @user != current_user %>
                <p>Читает</p>
              <% else %>
                <p>Я читаю</p>
              <% end %>
              <%= @user.follow_count %>
            </div>
          <% end %>
          <% if @user.followers_count != 0 %>
            <div class = 'element-profile-followers'>
              <% if @user != current_user %>
                <p>Читатели</p>
              <% else %>
                <p>Меня читают</p>
              <% end %>
              <%= @user.followers_count %>
            </div>
          <% end %>
          <div class = 'element-profile-read'>
            <% if current_user && @user != current_user %>
              <% if current_user.following?(@user) %>
                <%= link_to 'Читаю', unfollow_user_path(@user),
                method: :post,
                class: 'btn btn-primary btn-st btn-follow btn-follow-on',
                data: { toggle: 'tooltip', placement: 'bottom' } %>
              <% else %>
                <%= link_to 'Читать', follow_user_path(@user),
                method: :post,
                class: 'btn btn-primary btn-st',
                data: { toggle: 'tooltip', placement: 'bottom' } %>
              <% end %>
            <!-- <button class = 'btn btn-primary btn-st'>Читать</button> -->
            <% end %>
          </div>
          <div class = 'clearboth'>
          </div>
        </div>
      </div>
    </div>
    <%= react_component("PostBox",
        posts_url: posts_user_path(@user), show_panel: (current_user == @user) ) %>
  </div>
</div>

