<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
    <%= render '/partials/profile' %>
    <div class = 'profile-avatar_img' style = 'background: url(<%= @user.avatar %>) no-repeat; background-size: cover;'>
    </div>
  </div>



  <!--<div class = 'profile-sidebar'>
    <div class = 'position-profile-sidebar'>
      <div class = 'element-of-profile-sidebar'>
        Публикации
        <div>
          <span><%#= @user.posts.count %></span>
        </div>
      </div>
    </div>
  </div> -->

  <div class = 'main-wall'>
    <%#= render "info_user" %>
    <div class = 'panel-user'>
      <div class = 'profile-info'>
        <div class = 'action-angle'>
          <div class = 'btn-group'>
            <span class = 'sign-dots-menu-big' data-toggle="dropdown">•••</span>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to edit_user_path(@user) do %>Мои настройки<% end if current_user == @user%>
                <%= link_to logout_path, data: { no_turbolink: true } do %>
                  Выход
                <% end if current_user %>
              </li>
            </ul>
          </div>
        </div>
        <div class = 'profile-info_name'><%= @user.name %>
          <span class = 'profile-info_status'>• <%= t(@user.type) %> </span>
        </div>
        <div class = 'profile-info_school'>
          <%= @user.school %>
        </div>
      </div>
    </div>
    <%= react_component("PostBox",
        posts_url: posts_user_path(@user) ) %>
  </div>
</div>
<%#= render "/partials/view_material" %>
<%#= render "materials/modal_window" %>
<%#= render "form_create_class" %>
<%#= render "form_create_community" %>
