<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
    <%= render '/partials/profile' %>
    <%= render 'left_branch_profile' %>
  </div>

  <div class = 'main-wall'>
    <%#= render "info_user" %>
    <div class = 'panel-user'>
      <div class = 'profile-info-follow'>
        
        <%= render partial: 'followers_block' %>
      </div>
    </div>
    <%= react_component("PostBox",
        posts_url: posts_user_path(@user), show_panel: (current_user == @user) ) %>
  </div>
  <div class = 'right-branch'>
    <div class = 'btn-group'>
      <div class = 'share-microblog card-sp' data-toggle="dropdown">
        <img src = '/images/megaphone.png' width='30'>
        <p>Рассказать о микроблоге</p>
      </div>
      <ul class="dropdown-menu dropdown-menu-share" role="menu">
        <li id='vk_share_button'>

        </li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('vk_share_button').innerHTML = VK.Share.button({
    url: '<%= user_url(@user) %>',
    title: 'Мой микроблог',
    description: 'Это мой микроблог',
    image: 'http://studpad.ru/images/img-prospect.png',
    noparse: true
  },
  {
    type: 'link',
    text: 'Вконтакте'
  });
</script>
