<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
      <%= render "/partials/profile" %>
      <%= render "/communities/left_branch" %>
  </div>
  <div class = 'main-wall'>
    <div class = 'submenu'>
          <%= render "communities/menu" %>
    </div>
    <div class = 'title-background'>
      
      <div class = 'summary-wrap'>
        <span class = 'title-page'>Полезные материалы</span>
        <div class = 'right-button-action'>
          <!--<div class = 'img-right-button-action'>
            
          </div>
          <div class = 'title-right-button-action'>
            Создать новый
          </div> -->
          <button id="create_material" class="btn btn-primary btn-xs btn-st action-summary"  data-toggle="modal" data-target="#modal_window"><%= image_tag "feather_orange.png", size: "20x20" %> Создать новый</button>
        </div>
      </div>
    </div>
    <div class = 'row'>
      <div id = 'all_materials' class = 'col-xs-12'>

        <%= render collection: @materials, partial: "materials/material" %>

      </div>
    </div>
  </div>
    <% @new_material_action = community_id ? community_materials_path(community_id): nil %>
    <%= render "materials/modal_window" %>
    <%= render "/partials/modal_share" %>
    <%= render "/partials/view_material" %>
</div>
