<div class ='container' id = 'main-container'>
  <%= render "/communities/left_branch" %>
  <%= render "/partials/profile" %>
  <div class = 'main-wall'>
    <div class = 'submenu'>
          <%= render "communities/menu" %>
    </div>
    <div class = 'title-background'>
      <div class = 'title-page'>
        Полезные материалы
      </div>
    </div>
    <div class = 'row'>
      <div id = 'all_materials' class = 'col-xs-12'>

        <%= render collection: @materials, partial: "materials/material" %>

      </div>
    </div>
  </div>
    <%= render "materials/right_button_action" %>
    <% @new_material_action = community_id ? community_materials_path(community_id): nil %>
    <%= render "materials/modal_window" %>
    <%= render "/partials/modal_share" %>
    <%= render "/partials/view_material" %>
</div>
