<div class ='container' id = 'main-container'>
    <div class = 'row'>
            <div class = 'col-lg-2 col-md-2 col-xs-2' id = 'list-subjects'>
              <div id = 'each-subjects'>
                <div class = 'title-sp' id = 'left-main-menu'>
                  Меню
                </div>
                <div class = 'the-subject'>
                  Новости
                </div>
                <div class = 'the-subject'>
                  Полезные материалы
                </div>
                <div class = 'the-subject'>
                  Фотоальбом
                </div>
              </div>
              <div id = 'each-subjects'>
                <div class = 'title-sp' id = 'left-main-menu-s'>
                  Предметы
                </div>
                <div class = 'the-subject'>
                  Русский язык
                </div>
                <div class = 'the-subject'>
                  Математика
                </div>
                <div class = 'the-subject'>
                  Физика
                </div>
              </div>
            </div>

            <div class = 'col-lg-7 col-md-7 col-xs-7' id = 'central-part'>
              <div class = 'row'>
                <div class = 'col-lg-12 col-md-12 col-xs-12'>
                  <div class = 'title-sp' id = 'class-name-school'>
                    Фотоальбомы
                  </div>
                </div>
              </div>

                    <div class = 'row' id = 'all-albums'>
                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail" style = 'padding: 0px;'>
                          
                          <img src="https://pp.vk.me/c616620/v616620124/b879/szMeLRYua84.jpg" class = 'cover-photos-img'>
                          <div class="caption">
                            <div class = 'description-album'>
                              <p>Мастер-класс Поделка изделие Плетение Послойное плетение Бумага газетная фото 24</p>
                            </div>
                            <div>
                              <span class = 'date-create-album'>2012 год, 1 сентября</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="https://pp.vk.me/c618130/v618130048/10acf/IWvy2603Ssg.jpg">
                          <div class="caption">
                            <div class = 'description-album'>
                              <p>Мастер-класс Поделка изделие Плетение Послойное плетение Бумага газетная фото 24</p>
                            </div>
                            <div>
                              <span class = 'date-create-album'>2012 год, 1 сентября</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="https://pp.vk.me/c618130/v618130048/10acf/IWvy2603Ssg.jpg">
                          <div class="caption">
                            <div class = 'description-album'>
                              <p>Мастер-класс Поделка изделие Плетение Послойное плетение Бумага газетная фото 24</p>
                            </div>
                            <div>
                              <span class = 'date-create-album'>2012 год, 1 сентября</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="https://pp.vk.me/c618130/v618130048/10acf/IWvy2603Ssg.jpg">
                          <div class="caption">
                            <div class = 'description-album'>
                              <p>Мастер-класс Поделка изделие Плетение Послойное плетение Бумага газетная фото 24</p>
                            </div>
                            <div>
                              <span class = 'date-create-album'>2012 год, 1 сентября</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="https://pp.vk.me/c618130/v618130048/10acf/IWvy2603Ssg.jpg">
                          <div class="caption">
                            <div class = 'description-album'>
                              <p>Мастер-класс Поделка изделие Плетение Послойное плетение Бумага газетная фото 24</p>
                            </div>
                            <div>
                              <span class = 'date-create-album'>2012 год, 1 сентября</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="https://pp.vk.me/c618130/v618130048/10acf/IWvy2603Ssg.jpg">
                          <div class="caption">
                            <div class = 'description-album'>
                              <p>Мастер-класс Поделка изделие Плетение Послойное плетение Бумага газетная фото 24</p>
                            </div>
                            <div>
                              <span class = 'date-create-album'>2012 год, 1 сентября</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  
            </div>

            <div  class="col-lg-3 col-md-3  col-xs-3" id = 'right-part-page'>
              <div class = 'container-sp'>
                <div class = 'title-sp'>
                    <%= @classroom.name %>
                </div>
                <div class = 'whattext-sp'>
                  Классный руководитель: <a href = 'https://vk.com/nikitin__max'><%= @classroom.main_teacher.name %></a>
                  <%#= link_to 'Добавить ученика', new_student_classroom_path %>
                </div>
                <div id = 'show-teachers-students'>
                  <span id = 'all-students' class = 'type-profiles'>Ученики</span> • <span id = 'all-teachers' class = 'type-profiles'>Преподаватели</span>
                </div>
                <div id = 'each-students'>
                  <!-- УЧЕНИКИ -->
                  <% @classroom.students.each do |s| %>
                  <div class = 'the-person'>
                    <%= link_to user_path(s) do %>
                    <img src = 'https://pp.vk.me/c619119/v619119124/20d41/n51h6svfjtM.jpg' width = '44' height = '44' class = 'img-avatar'/>
                    <%= s.name %>
                    <% end %>
                  </div>
                  <% end %>
                </div>
                <div id = 'each-teachers'>
                  <% @classroom.teachers.each do |s| %>
                  <div class = 'the-person'>
                    <%= link_to user_path(s) do %>
                    <img src = 'http://cs623926.vk.me/v623926048/203d1/oKxZowyyX28.jpg' width = '44' height = '44' class = 'img-avatar'/>
                    <%= s.name %>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
    </div>
  </div>

