<div id='material<%= material.id %>' class = 'card-sp sharp-wrap useful-material_post'>
  <% main_image = material.main_image %>
  <% if main_image %>
    <div class = 'useful-material_img'>
      <img src = '<%= main_image.file.url %>' width = '100%'/>
    </div>
  <% end %>
  <div class = 'row margin-b20 margin0'>
    <div class="profile-notice autor-material col-xs-7">
      <div class="profile-notice-background">
       <div class="profile-notice-avatar" style="background: url(
       https://pp.vk.me/c627724/v627724106/b57f/aopwePxhjio.jpg
       ) no-repeat; background-size: cover;">
        </div>
        <div class="profile-notice-name-text">

          <div class="profile-notice-name">
            <a href="/users/3">Это мое сообщество</a>
          </div>
          <div class="profile-notice-text">Открытое сообщество</div>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class = 'useful-material_info view-the-material'
  link = '<%= material_path(material) %>' data-toggle="modal" data-target="#view_material">
    <div class = 'container-fluid'>
      <div class = 'row'>
        <div class = 'col-lg-7 col-md-7 col-xs-7'>
          <div class = 'margin-b20'>
            <div class = 'margin-b20'>
              <span class = 'title-underline'>
                Описание
              </span><% if material.subject %>&nbsp; • &nbsp;<span class = 'badge badge-sp'><%= material.subject.name %></span> <% end %>
            </div>
          </div>
          <div class = 'main-text-news'>
            <span class = 'span-main-text-news'>
              <%= material.description %>
            </span>
          </div>

          <% material.audios.each do |a| %>

          <div class="jp-jplayer" data='<%= a.file.url %>' audio='<%= a.id %>'>

          </div>

          <div id="jp_container_1" class="jp-audio mudf" play='audio<%= a.id %>'>
            <div class="jp-type-single">

              <div class="jp-title">
                <ul>
                  <li><%= truncate(a.file.file.filename, length: 25) %></li>
                </ul>
              </div>

              <div class="jp-gui jp-interface">

                  <ul class="jp-controls">
                    <li><a href="javascript:;" class="jp-play" tabindex="1">&#61515;</a></li>
                    <li><a href="javascript:;" class="jp-pause" tabindex="1">&#61516;</a></li>
                    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">&#61480;</a></li>
                    <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">&#61478;</a></li>
                  </ul>

                  <div class="jp-progress">
                    <div class="jp-seek-bar">
                      <div class="jp-play-bar"></div>
                    </div>
                  </div>

                  <div class="jp-time-holder">
                    <div class="jp-current-time"></div>
                  </div>

                  <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                  </div>

              <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
              </div>
            </div>
           </div>
          </div>
          <% end %>
        </div>
        <div class = 'col-lg-5 col-md-5 col-xs-5'>
          <% if material.images.any? || material.files.any? %>
            <div class = 'margin-b20'>
              <span class = 'title-underline'>
                Файлы
              </span>
            </div>
            <div class = 'wrap-photos margin-b20'>
              <div class = 'row'>
                <% material.images.each do |f| %>
                <div class = 'col-xs-6 set-of-photos4' style = 'background: url(
                  <%= f.file.url %>
                  ); background-size: cover;'>
                </div>
                <% end %>
              </div>
            </div>
            <% material.files.each do |f| %>
              <div class = 'this-material'>
                <div class = 'files-image type-document'>
                </div>
                <div class = 'name-files'>
                  <%= link_to truncate(f.file.file.filename, length: 25), f.file.url %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class = 'useful-material_date'>
    <div class = 'container-fluid'>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <div class = 'card-date'>
                <span class = 'date-news'>
                  <%= material.created_at.strftime("%d %b %H:%M") %> •
                  <span><%=link_to material.user.name, user_path(material.user) %></span>
                </span>
                <% if current_user %>
                <span class = 'margin-l40 share-post'  data-toggle="modal"
                material_id='<%= material.id %>' data-target="#modal_share">
                  <span>Поделиться &nbsp;</span>
                  <span class="glyphicon glyphicon-bullhorn"></span>
                </span>
                <span class = 'count-share'> &nbsp;&nbsp;<b><%= material.times_shared %></b></span>
                <% else %>
                <span class = 'margin-l40'>
                  <span class="glyphicon glyphicon-bullhorn"></span>
                </span>
                <span class = 'count-share'> &nbsp;&nbsp;<b><%= material.times_shared %></b></span>
                <% end %>
                <% if current_user && current_user.id == material.user_id %>
                <span class = 'update-UM'  data-toggle="modal" data-target="#modal_window"
                  data='<%= material_path( material ) %>'>
                  <span class="glyphicon glyphicon-pencil pencil-news margin-l40"></span> &nbsp;<span>Редактировать</span>
                </span>
                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
