<div class ='container' id = 'main-container'>
  <%= render "/partials/left_branch" %>
  <div class = 'main-wall'>
    <div class = 'submenu'>
          <%= render "/partials/squares_menu" %>
    </div>
    <div class = 'title-background'>
      <div class = 'title-page'>
        Полезные материалы
      </div>
    </div>
    <div class = 'row'>
      <div id = 'all_materials' class = 'col-xs-12'>

        <%= render @materials %>

      </div>
    </div>
  </div>
    <%= render "right_button_action" %>
    <%= render "modal_window" %>
    <%= render "/partials/modal_share" %>
</div>
