<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
      <%= render "/partials/profile" %>
      <%= render "/classrooms/left_branch" %>
    </div>
  <div class = 'main-wall'>
    <div class = 'submenu'>
          <%= render "classrooms/menu" %>
    </div>
    <div class = 'title-background'>
      <div class = 'title-page'>
        Полезные материалы
      </div>
    </div>
    <div class = 'row'>
      <div id = 'all_materials' class = 'col-xs-12'>

        <%= render @materials %>

      </div>
    </div>
  </div>
    <%= render "right_button_action" if current_user%>
    <% @new_material_action = classroom_id ? classroom_materials_path(classroom_id): nil %>
    <%= render "modal_window" if current_user %>
    <%= render "/partials/modal_share" if current_user%>
    <%= render "/partials/view_material" %>
</div>
