<div id = 'main-line' class = 'container'>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4
    col-lg-offset-4 col-md-offset-4 col-xs-offset-4 text-on-page">
    <h1>Новый полезный материал</h1>
    <%= simple_form_for(@material, url: materials_path, html: { class: 'form-vertical' }) do |f| %>
      <%= f.input :name, label: 'Имя' %>
      <%= f.input :description, label: 'Описание' %>
      <%= f.button :submit, 'Создать' %>
    <% end %>
    <div id="loaded">

    </div>
    <%= form_tag( attachments_path,  id: 'material-dropzone', class: 'form' ) do %>
      <div class='message' style="height: 100px; width: 100%; background: red;">asdfasdfasdfasdfsadfsad</div>
    <% end %>
    </div>
  </div>
</div>
