<div class = 'row squares-menu margin0'>
  <div class = 'col-xs-4 align-c'>
    <%= link_to community_path(community_id) do%>
      <%= image_tag "feather14.png", size: "28x28" %>
      <%= times_tag(@community.news.count) %>
      <span>Новости</span>
    <% end %>
  </div>
  <div class = 'col-xs-4 align-c'>
    <%= link_to community_members_path(community_id) do%>
      <%= image_tag "hotair.png", size: "28x28" %>
      <%= times_tag(@community.users.count) %>
      <span>Экипаж</span>
    <% end %>
  </div>
  <div class = 'col-xs-4 align-c'>
    <%= link_to community_materials_path(community_id) do%>
      <%= image_tag "special1.png", size: "28x28" %>
      <%= times_tag(@community.materials.count) %>
      <span>Материалы</span>
    <% end %>
  </div>
</div>
