<div class ='container' id = 'main-container'>
    <%= render "left_branch" %>
    <%= render "/partials/profile" %>
    <div class = 'main-wall' id = 'central-part'>
      <div class = 'submenu'>
        <%= render "menu" %>
      </div>
      <div class = 'row'>
        <div class = 'col-xs-12'>
          <div class = 'card-sp sharp-wrap'>
            <div class="title-background-border title-without-border">
              <div class="title-page">
                Настройки Вашего сообщества
              </div>
            </div>
            <div class = 'row'>
              <div class = 'col-xs-12 field-edit-data'>
<%= form_for @community, url: community_path(@community) do |f|%>
                <div class = 'edit-community'>

  <%= f.text_field :name, class: 'form-control input-sp input-edit-community-name', placeholder: 'Название сообщества' %>
  <div>
    <span class = "title-underline">
          Выберите тип Вашего сообщества
    </span>
  </div>
  <div class = 'row'>
      <div class="wrap-radio align-c col-xs-2">
        <%= f.radio_button :status, "open", class: 'input-radio-sp', required: true %>
        <label for = 'community_status_open'>Открытое</label>
      </div>
      <div class="wrap-radio align-c col-xs-2">
        <%= f.radio_button :status, "secret", class: 'input-radio-sp', required: true %>
        <label for = 'community_status_secret'>Закрытое</label>
      </div>
  </div>

                </div>
                <div class="edit-community-footer">
                  <button type="submit" id = 'save-edit-community' class="btn btn-primary btn-st">Сохранить</button>
                </div>
<% end %>
              </div>
            </div>

        </div>
        </div>
      </div>
    </div>
</div>
