<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
    <%= render "/partials/profile" %>
  </div>
  <div class = 'main-wall'>
    <div class = 'row'>
      <div class = 'col-xs-12'>
        <div class = 'title-background border-radius-top'>
          <div class = 'title-page'>
            Все сообщества
          </div>
        </div>

        <div class = 'row'>
          <div class = 'col-xs-12'>
            <div class = 'card-sp'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <% @communities.each do |c| %>
                  <div class = 'col-xs-12 preview-community'>
                    <div class = 'preview-community-avatar' style = 'background: url(
                    <%= c.avatar %>
                    ); background-size: cover;'>

                    </div>
                    <div class = 'preview-community-info'>
                      <div class = 'preview-community-name'>
                        <%= link_to c.name, community_path(c) %>
                      </div>
                      <div class = 'preview-community-founder'>
                        <div class = 'profile-notice'>
                          <div class="profile-notice-background">
                            <div class="profile-notice-avatar" style="background: url(
                           <%= c.founder.try(:avatar) %>
                           ) no-repeat; background-size: cover;">
                            </div>
                            <div class="profile-notice-name-text">

                              <div class="profile-notice-name">
                                <%= link_to c.founder.try(:name), user_path(c.founder) if c.founder%>
                              </div>
                              <div class="profile-notice-text">Основатель</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class = 'preview-community-statistic'>
                        <div class = 'row'>
                          <div class = 'col-xs-5 align-l'>
                              <%= image_tag "hotair.png", size: "24x24" %> Экипаж &nbsp;
                              <%= times_tag(c.users.count) %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

