<div class ='container' id = 'main-container'>
  <%= render "/partials/profile" %>
  <div class = 'main-wall'>
    <div class = 'row'>
      <div class = 'col-xs-12'>
        <div class = 'title-background border-radius-top'>
          <div class = 'title-page'>
            Все сообщества
          </div>
        </div>

        <div class = 'row'>
          <div class = 'col-xs-12'>
            <div class = 'card-sp sharp-wrap'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <div class = 'col-xs-12 preview-community'>
                    <div class = 'preview-community-avatar' style = 'background: url(https://pp.vk.me/c627724/v627724106/b57f/aopwePxhjio.jpg); background-size: cover;'>

                    </div>
                    <div class = 'preview-community-info'>
                      <div class = 'preview-community-name'>
                        <a>
                          Это мое сообщество c длинным названием Это мое сообщество c длинным названием
                        </a>
                      </div>
                      <div class = 'preview-community-founder'>
                        <div class = 'profile-notice'>
                          <div class="profile-notice-background">
                           <div class="profile-notice-avatar" style="background: url(https://pp.vk.me/c7009/v7009342/26b6/5qpGumJE8w8.jpg) no-repeat; background-size: cover;">
                            </div>
                            <div class="profile-notice-name-text">

                              <div class="profile-notice-name"><a>Стрельников Борька</a></div>
                              <div class="profile-notice-text">Основатель</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class = 'preview-community-statistic'>
                        <div class = 'row'>
                          <div class = 'col-xs-5 align-l'>
                              <%= image_tag "hotair.png", size: "24x24" %> Экипаж &nbsp;
                              <span class="badge">249</span>
                          </div>
                          <div class = 'col-xs-5 align-l'>
                              <%= image_tag "special1.png", size: "24x24" %> Материалы &nbsp;
                              <span class="badge">249</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class = 'col-xs-12 preview-community'>
                    <div class = 'preview-community-avatar' style = 'background: url(https://pp.vk.me/c627724/v627724106/b57f/aopwePxhjio.jpg); background-size: cover;'>

                    </div>
                    <div class = 'preview-community-info'>
                      <div class = 'preview-community-name'>
                        <a>
                          Это мое сообщество c длинным названием Это мое сообщество c длинным названием
                        </a>
                      </div>
                      <div class = 'preview-community-founder'>
                        <div class = 'profile-notice'>
                          <div class="profile-notice-background">
                           <div class="profile-notice-avatar" style="background: url(https://pp.vk.me/c7009/v7009342/26b6/5qpGumJE8w8.jpg) no-repeat; background-size: cover;">
                            </div>
                            <div class="profile-notice-name-text">

                              <div class="profile-notice-name"><a>Стрельников Борька</a></div>
                              <div class="profile-notice-text">Основатель</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class = 'preview-community-statistic'>
                        <div class = 'row'>
                          <div class = 'col-xs-5 align-l'>
                              <%= image_tag "hotair.png", size: "24x24" %> Экипаж &nbsp;
                              <span class="badge">249</span>
                          </div>
                          <div class = 'col-xs-5 align-l'>
                              <%= image_tag "special1.png", size: "24x24" %> Материалы &nbsp;
                              <span class="badge">249</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

