<div class ='container' id = 'main-container'>
  <%= render "left_branch" %>
  <%= render "/partials/profile" %>
  <div class = 'main-wall'>
    <div class = 'submenu'>
          <%= render "menu" %>
    </div>
    <div class = 'row'>
      <div class = 'col-xs-12'>
        <div class = 'card-sp sharp-wrap'>
          <div class="title-background-border title-without-border">
            <div class="title-page">
              Уведомления
            </div>
          </div>
          <div class = 'all-notices'>

            <div class = 'profile-notice'>
              <div class="profile-notice-background">
                <div class="profile-notice-avatar" style="background: url(https://pp.vk.me/c7009/v7009479/1e78/tgHhGcS1mcI.jpg) no-repeat; background-size: cover;">
                </div>
                <div class="profile-notice-name-text">
                  <div class="profile-notice-name"><a>Макс Никитин</a> <span class="profile-notice-date">• 12 апреля, 2014</span></div>
                  <div class="profile-notice-text">Присоединился к соообществу </div>
                </div>
              </div>
            </div>

            <div class = 'profile-notice'>
              <div class="profile-notice-background">
                <div class="profile-notice-avatar" style="background: url(https://pp.vk.me/c7009/v7009479/1e78/tgHhGcS1mcI.jpg) no-repeat; background-size: cover;">
                </div>
                <div class="profile-notice-name-text">
                  <div class="profile-notice-name"><a>Макс Никитин</a> <span class="profile-notice-date">• 12 апреля, 2014</span></div>
                  <div class="profile-notice-text">Поделился материлом из сообщества</div>
                </div>
              </div>
            </div>

            <div class = 'profile-notice'>
              <div class="profile-notice-background">
                <div class="profile-notice-avatar" style="background: url(https://pp.vk.me/c7009/v7009479/1e78/tgHhGcS1mcI.jpg) no-repeat; background-size: cover;">
                </div>
                <div class="profile-notice-name-text">
                  <div class="profile-notice-name"><a>Макс Никитин</a> <span class="profile-notice-date">• 12 апреля, 2014</span></div>
                  <div class="profile-notice-text">Хочет присоедениться к Вашему сообществу &nbsp;&nbsp;&nbsp;<input type = 'button' class = 'btn btn-xs btn-default btn-st-inert' value = 'Отклонить' /> <input type = 'button' class = 'btn btn-primary btn-xs btn-st' value = 'Принять' /></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
    <%= render "/partials/modal_share" %>
    <%= render "/partials/view_material" %>
</div>
