<div class ='container' id = 'main-container'>
  <%= render "left_branch" %>
  <%= render "/partials/profile" %>
  <div class = 'main-wall'>
    <div class = 'submenu'>
          <%= render "menu" %>
    </div>
    <div class = 'row'>
      <div class = 'col-xs-12'>
        <div class = 'card-sp sharp-wrap'>
          <div class="title-background-border title-without-border">
            <div class="title-page">
              Уведомления
            </div>
          </div>
          <div class = 'all-notices'>

            <div class = 'preview-object'>
              <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009943/bb3b/sw8R5nIyYiM.jpg) no-repeat; background-size: cover;">
              </div>
              <div class="preview-object-info">
                <div class = 'object-name'><a>Никитин Макс</a> <span class="profile-notice-date">• 12 апреля, 2014</span></div>
                <div class = 'object-text'>Присоединился к сообществу</div>
              </div>
            </div>

            <div class = 'preview-object'>
              <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009943/bb3b/sw8R5nIyYiM.jpg) no-repeat; background-size: cover;">
              </div>
              <div class="preview-object-info">
                <div class = 'object-name'><a>Никитин Макс</a> <span class="profile-notice-date">• 12 апреля, 2014</span></div>
                <div class = 'object-text'>Поделился материлом из сообщества</div>
              </div>
            </div>

            <div class = 'preview-object'>
              <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009943/bb3b/sw8R5nIyYiM.jpg) no-repeat; background-size: cover;">
              </div>
              <div class="preview-object-info">
                <div class = 'object-name'><a>Никитин Макс</a> <span class="profile-notice-date">• 12 апреля, 2014</span></div>
                <div class = 'object-text'>Хочет присоедениться к Вашему сообществу &nbsp;&nbsp;&nbsp;<input type = 'button' class = 'btn btn-xs btn-default btn-st-inert' value = 'Отклонить' /> <input type = 'button' class = 'btn btn-primary btn-xs btn-st' value = 'Принять' /></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
    <%= render "/partials/modal_share" %>
    <%= render "/partials/view_material" %>
</div>
