<!DOCTYPE html>
<html>
<head>
  <title>Studpad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
  <link href="http://allfont.ru/css/?fonts=open-sans" rel="stylesheet" type="text/css" />
  <link href="http://allfont.ru/css/?fonts=pt-sans" rel="stylesheet" type="text/css" />

  <%= csrf_meta_tags %>
</head>
<body>
  <div id = 'hat-studpad'>
    <div class = 'container-fluid'>
      <div class = 'row'>
          <div class = 'col-xs-12 align-c' id = 'hat-studpad-title'>

            <h1 id = 'hat-logo-studpad'>
              <a class = 'hat-logo-studpa-a' href="/">Studpad</a>
            </h1>
            <div class = 'global-menu'>
              <nav class = "global-actions">
                  <!--
                  <%= link_to root_path do %>
                    <span><%= image_tag "homeclass.png", size: "28x28" %></span>
                    <span class="text">Главная</span>
                  <% end %>
                   -->
                  <% if current_user && current_user.student? %>
                    <%= link_to classroom_path(current_user.classroom) do %>
                      <span><%= image_tag "homeworkclass.png", size: "28x28" %></span>
                      <span class="text">Мой класс</span>
                    <% end %>
                  <% end %>
              </nav>
            </div>
          </div>
          <!--<div id = 'menu-on-hat'>
            <div class = 'col-lg-1 col-md-1 col-xs-1'>
              <% if current_user %>
                <%= link_to profile_path do %>
                <%= image_tag current_user.avatar.url || "http://localhost:3000/uploads/teacher/avatar/1/thumb_7_______.jpg", style: 'border: 1px solid #BBC3C7; border-radius: 200px; margin-top: 6px;', size: "35x35" %>
                <% end %>
              <% end %>
            </div>
            <div class = 'col-lg-2 col-md-2 col-xs-2 item-of-hat-menu'>
              <% if current_user && current_user.student? %>
                <%= link_to classroom_path(current_user.classroom) do %>
                  <%= image_tag "myclass.png", style: 'margin-top: 6px;', size: "35x35" %><span class = 'name-action-of-hat-menu'> Мой класс</span>
                <% end %>
              <% end %>
            </div>
          </div> -->
         </div>
      </div>
    </div>

    <div class = 'notice'>
      <button type="button" id = 'close-notice' class="close" aria-hidden="true">&times;</button>
      <div class = 'title-underline notice-content'> 
        
      </div>
    </div>

<%= yield %>

</body>
</html>
