<!DOCTYPE html>
<html>
<head>
  <title>Studpad | Микроблоги</title>

  <meta property="vk:title" content="Мой микроблог |  studpad.ru" />
  <meta property="vk:description" content="Studpad - семейство микроблогов для пре" />
  <meta property="vk:url" content="http://studpad.ru" />
  <meta property="vk:image" content="http://studpad.ru/images/img-prospect.png" />
  <meta property="vk:type" content="website"/>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter32955634 = new Ya.Metrika({
                      id:32955634,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true
                  });
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/32955634" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
  <link href="http://allfont.ru/css/?fonts=open-sans" rel="stylesheet" type="text/css" />
  <link href="http://allfont.ru/css/?fonts=pt-sans" rel="stylesheet" type="text/css" />
  <link href="http://webfonts.ru/import/barkentina.css" rel="stylesheet" type="text/css" />
  <%= csrf_meta_tags %>
  <!-- #Current User Store unsensetive data -->
  <%= javascript_tag do %>
    window.currentUser = {};
    window.currentUser.name = '<%= j current_user.name %>';
    window.currentUser.type = '<%= j I18n.t(current_user.type) %>';
    window.currentUser.avatar = '<%= j current_user.avatar.thumb.to_s %>';
    window.currentUser.url = '<%= j user_path(current_user) %>';
  <% end if current_user %>
</head>
<body class = 'day'>
  <div class = 'clouds'>
    <%= render "partials/clouds" %>
  </div>
  <div id = 'hat-studpad'>
          <div class = 'align-c' id = 'hat-studpad-title'>
            <div class = 'hat-menu'>
              <% if current_user %>
                <%= link_to root_path do %>
                  <div class = 'hat-menu-icon'>
                    <img src = '/images/home.png' /> <span>Главная</span>
                  </div>
                <% end %>
              <% else %>
                <%= link_to main_path do %>
                  <div class = 'hat-menu-icon'>
                    <img src = '/images/home.png' /> <span>Главная</span>
                  </div>
                <% end %>
              <% end %>
              <!--<div class = 'hat-menu-icon'>
                <img src = '/images/compass.png' /> <span>Полный обзор</span>
              </div>-->
            </div>
            <% if current_user && @how_does_it_work %>
              <div class = 'hat-menu hat-menu-right'>
                <div class = 'hat-menu-icon start-how-does-it-work'>
                  <img src = '/images/flame.png' /> <span>Как это работает?</span>
                </div>
              </div>
            <% end %>
            <h1 id = 'hat-logo-studpad'>
              <% if current_user %>
                <%= link_to "Studpad", root_path, class: 'hat-logo-studpa-a'%>
              <% else %>
                <%= link_to "Studpad", main_path, class: 'hat-logo-studpa-a'%>
              <% end %>
            </h1>
            <div class = 'global-menu'>
              <nav class = "global-actions">
              </nav>
            </div>
          </div>
          <!--<div id = 'menu-on-hat'>
            <div class = 'col-lg-1 col-md-1 col-xs-1'>
              <%# if current_user %>
                <%#= link_to profile_path do %>
                <%#= image_tag current_user.avatar.url || "http://localhost:3000/uploads/teacher/avatar/1/thumb_7_______.jpg", style: 'border: 1px solid #BBC3C7; border-radius: 200px; margin-top: 6px;', size: "35x35" %>
                <%# end %>
              <%# end %>
            </div>
            <div class = 'col-lg-2 col-md-2 col-xs-2 item-of-hat-menu'>
              <%# if current_user && current_user.student? %>
                <%#= link_to classroom_path(current_user.classroom) do %>
                  <%#= image_tag "myclass.png", style: 'margin-top: 6px;', size: "35x35" %><span class = 'name-action-of-hat-menu'> Мой класс</span>
                <%# end %>
              <%# end %>
            </div>
          </div> -->
    </div>

    <div class = 'notice'>
      <button type="button" id = 'close-notice' class="close" aria-hidden="true">&times;</button>
      <div class = 'title-underline notice-content'>

      </div>
    </div>

<%= yield %>

</body>
</html>
